{{ ansible_managed }}
com.openexchange.mail.loginSource=login
com.openexchange.mail.passwordSource=session
com.openexchange.mail.mailServerSource=user
com.openexchange.mail.transportServerSource=user
com.openexchange.mail.masterPassword=secret
com.openexchange.mail.mailServer=oxbox
com.openexchange.mail.mailStartTls=false
com.openexchange.mail.transportServer=oxbox
com.openexchange.mail.transportStartTls=false
com.openexchange.mail.defaultMailProvider=imap
mail.mime.charset=UTF-8
com.openexchange.mail.mailFetchLimit=1000
com.openexchange.mail.bodyDisplaySizeLimit=10485760
com.openexchange.mail.mailAccessCacheShrinkerSeconds=3
com.openexchange.mail.mailAccessCacheIdleSeconds=4
com.openexchange.mail.quoteLineColors=#a14044,#917722,#599351,#516193,#666666
com.openexchange.mail.forwardUnquoted=false
com.openexchange.mail.userFlagsEnabled=true
com.openexchange.mail.allowNestedDefaultFolderOnAltNamespace=false
com.openexchange.mail.ignoreSubscription=false
com.openexchange.mail.supportSubscription=true
com.openexchange.mail.defaultSeparator=/
com.openexchange.mail.watcherEnabled=true
com.openexchange.mail.watcherFrequency=10000
com.openexchange.mail.watcherTime=60000
com.openexchange.mail.watcherShallClose=false
com.openexchange.mail.JavaMailProperties=javamail.properties
com.openexchange.mail.phishingHeader=
com.openexchange.mail.adminMailLoginEnabled=false
com.openexchange.mail.addClientIPAddress=false
com.openexchange.mail.rateLimitPrimaryOnly=true
com.openexchange.mail.rateLimit=0
com.openexchange.mail.rateLimitDisabledRange=
com.openexchange.mail.maxToCcBcc=0
com.openexchange.mail.hidePOP3StorageFolders=false
com.openexchange.mail.deleteDraftOnTransport=false
com.openexchange.mail.supportMsisdnAddresses=false
com.openexchange.mail.translateDefaultFolders=true
#com.openexchange.mail.authProxyDelimiter=
com.openexchange.mail.maxMailSize=-1
com.openexchange.mail.hideDetailsForDefaultAccount=false
com.openexchange.mail.maxForwardCount=8
com.openexchange.mail.account.blacklist=127.0.0.1-127.255.255.255,localhost
com.openexchange.mail.account.whitelist.ports=143,993, 25,465,587, 110,995
com.openexchange.mail.imageHost=
com.openexchange.mail.signature.maxImageSize=1
com.openexchange.mail.signature.maxImageLimit=3